
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  background: rgb(0, 36, 23);
    background: linear-gradient(90deg, rgba(0, 36, 23, 1) 0%, rgba(9, 121, 108, 1) 0%, rgba(0, 176, 255, 1) 77%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.main {
  width: 350px;
  height: 600px;
  border: 1px solid #b4b4b4;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px 20px 20px;
  background-color: #fff;
  box-shadow:
      2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      100px 100px 80px rgba(0, 0, 0, 0.07);
}

.body {
  flex: 1;
}
.header {
  text-align: center;
  margin-bottom: 15px;
}
.header h1 {
  letter-spacing: 4px;
  font-weight: 600;
}

.form-add {
  display: flex;
  gap: 0 10px;
}

.form-add input {
  padding: 0 20px;
  flex: 1;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}

.form-add button {
  background-color: #3498DB;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
}

.form-add button:hover {
  background-color: #82BF56;
  color: #fff;
}

.btn {
  transition: 0.3s all ease-in-out;
  font-weight: 500;
  color: #fff;
}

.btn:hover {
  background-color: #82BF56;
  color: #fff;
}

.form-checkAll {
  padding: 30px 0 20px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.form-checkAll input {
  
}

.checkbox {
  width: 20px;
  height: 20px;
}

ul {
  padding: 0;
  margin: 0;
}
.list-todo {
  height: 250px;
  overflow: auto;
  padding-right: 10px;
  margin-bottom: 20px;
}

.list-todo::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  
}

.list-todo::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.list-todo::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 1px solid #555555;
}

.list-todo li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.form-checkItem {
  flex: 1;
  display: flex;
  gap: 0 10px;
  height: 40px;
  align-items: center;
}

.btn-delete {
  background-color: #E74C3C;
}

.btn-link {
  font-weight: 600;
  outline: none;
  background-color: transparent;
  color: #000;
  border: none;
}

.btn-link.active {
  color: #E74C3C;
}

.btn-link:hover {
  color: #E74C3C;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}